@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Raheel.Models.Pages.NewsPage

<div>
    <h1>
        <a href="~/Views/NewsPage/index.cshtml">~/Views/NewsPage/index.cshtml</a>
        @Html.PropertyFor(m => m.Title)
    </h1>  
    @Html.PropertyFor(m => m.News)
</div>